<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Matthew McLaughlin">
    <title>Matthew McLaughlin | Portfolio</title>
    <link rel="stylesheet" href="./css/style.css" type="text/css">
</head>

<body>

    <nav>
        <ul>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    <header>
        <h1>Main heading</h1>

        <h3>Sub Heading</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in neque mi. Integer ex orci, dapibus sit amet vulputate id, finibus eget tellus. Pellentesque nec neque eleifend, viverra eros vitae, tristique tellus. Proin varius tellus nisi. Vivamus malesuada a eros non fringilla. Pellentesque sodales dui vitae lectus fermentum, et fringilla nisl placerat. Mauris porttitor sed eros id suscipit. Proin efficitur bibendum est vel sodales. Donec hendrerit, quam in maximus semper, mi est vulputate nulla, tincidunt accumsan elit magna sed ligula. Suspendisse potenti. Aliquam ante arcu, sodales id hendrerit sit amet, sagittis a risus. Integer arcu lacus, pretium semper interdum vel, molestie id purus. Mauris sed elit id metus aliquet fringilla. Aenean bibendum mauris dui, sed tincidunt diam gravida ac. Quisque ac consectetur risus.</p>
    </header>
    <h1>Main heading</h1>
    <div class="dark">
        <h3>Sub Heading</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in neque mi. Integer ex orci, dapibus sit amet vulputate id, finibus eget tellus. Pellentesque nec neque eleifend, viverra eros vitae, tristique tellus. Proin varius tellus nisi. Vivamus malesuada a eros non fringilla. Pellentesque sodales dui vitae lectus fermentum, et fringilla nisl placerat. Mauris porttitor sed eros id suscipit. Proin efficitur bibendum est vel sodales. Donec hendrerit, quam in maximus semper, mi est vulputate nulla, tincidunt accumsan elit magna sed ligula. Suspendisse potenti. Aliquam ante arcu, sodales id hendrerit sit amet, sagittis a risus. Integer arcu lacus, pretium semper interdum vel, molestie id purus. Mauris sed elit id metus aliquet fringilla. Aenean bibendum mauris dui, sed tincidunt diam gravida ac. Quisque ac consectetur risus.</p>
    </div>
    <ul class="portfolio" id="portfolio">
        <li><img src="https://picsum.photos/400">
            <h1></h1>
        </li>
        <li><img src="https://picsum.photos/400">
            <h1></h1>
        </li>
        <li><img src="https://picsum.photos/400">
            <h1></h1>
        </li>
        <li><img src="https://picsum.photos/400">
            <h1></h1>
        </li>
        <li><img src="https://picsum.photos/400">
            <h1></h1>
        </li>
        <li><img src="https://picsum.photos/400">
            <h1></h1>
        </li>

    </ul>

    <footer>
        <ul class="connections">
            <li><a href="#" title="Send me an email">
                    <svg width="36" height="36" viewBox="0 0 36 36">
                        <g></g>
                        <path d="M17.902 1.699c-8.949 0-16.203 7.254-16.203 16.203s7.254 16.203 16.203 16.203c8.949 0 16.203-7.254 16.203-16.203 0-8.949-7.254-16.203-16.203-16.203zM9.168 11.487h17.371c0.99 0 1.794 0.699 1.878 1.588l-10.599 4.53-10.532-4.501c0.069-0.903 0.88-1.618 1.881-1.618zM28.434 23.494c0 0.961-0.848 1.739-1.895 1.739h-17.371c-1.047 0-1.895-0.778-1.895-1.739v-9.566l10.558 4.511 0.008-0.013 10.595-4.529v9.597z" fill="#333333" />
                    </svg>
                </a>
            </li>

            <li><a href="#" title="Link">
                    <svg width="36" height="36" viewBox="0 0 36 36">
                        <g></g>
                        <path d="M17.9,1.9C9,1.9,1.7,9.1,1.7,18.1C1.7,27,9,34.3,17.9,34.3c8.9,0,16.2-7.3,16.2-16.2S26.9,1.9,17.9,1.9L17.9,1.9z
               M19.3,20.5l-3.2,3.2c-1.3,1.3-3.3,1.3-4.6,0c-1.3-1.3-1.3-3.3,0-4.6l2.7-2.7c0,0,0,0,0,0c0,0,0,0,0-0.1c0.2-0.2,0.6-0.2,0.8,0
              c0.2,0.2,0.2,0.5,0.1,0.7c0,0,0,0,0,0l-2.5,2.5c-0.8,0.8-0.8,2.2,0,3.1c0.8,0.8,2.2,0.8,3.1,0l2.7-2.7c0.7-0.7,0.7-1.9,0.2-2.8
              c0,0,0,0,0,0c-0.2-0.3-0.2-0.7,0-1c0.3-0.3,0.8-0.3,1,0c0,0,0,0.1,0.1,0.1l0,0C20.5,17.6,20.4,19.4,19.3,20.5z M24.4,17l-3,3
              c0,0,0,0,0,0c-0.2,0.2-0.5,0.2-0.8,0c-0.2-0.2-0.2-0.6,0-0.8l2.7-2.7c0.8-0.8,0.8-2.2,0-3.1s-2.2-0.8-3.1,0l-2.7,2.7
              c-0.8,0.8-0.8,2.1-0.1,2.9c0,0,0,0,0,0c0.2,0.3,0.2,0.7,0,1c-0.3,0.3-0.7,0.3-1,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0
              c0,0,0-0.1-0.1-0.1c-1-1.3-0.9-3.1,0.2-4.3l3.2-3.2c1.3-1.3,3.3-1.3,4.6,0S25.6,15.7,24.4,17L24.4,17z" fill="#333333" />
                    </svg>
                </a>
            </li>

            <li><a href="#" title="Twitter">
                    <svg width="36" height="36" viewBox="0 0 36 36">
                        <g></g>
                        <path d="M17.9,1.7C9,1.7,1.7,9,1.7,17.9S9,34.1,17.9,34.1c8.9,0,16.2-7.3,16.2-16.2S26.9,1.7,17.9,1.7z M24.2,14.8
                   c0,0.1,0,0.3,0,0.4c0,4.4-3.4,9.6-9.6,9.6c-1.9,0-3.7-0.5-5.2-1.5c0.3,0,0.5,0,0.8,0c1.6,0,3-0.5,4.2-1.4c-1.5,0-2.7-1-3.1-2.3
                   c0.2,0,0.4,0.1,0.6,0.1c0.3,0,0.6,0,0.9-0.1c-1.5-0.3-2.7-1.7-2.7-3.3v0c0.4,0.2,1,0.4,1.5,0.4c-0.9-0.6-1.5-1.6-1.5-2.8
                   c0-0.6,0.2-1.2,0.5-1.7c1.7,2,4.1,3.4,6.9,3.5c-0.1-0.2-0.1-0.5-0.1-0.8c0-1.9,1.5-3.4,3.4-3.4c1,0,1.8,0.4,2.5,1.1
                   c0.8-0.2,1.5-0.4,2.1-0.8c-0.3,0.8-0.8,1.4-1.5,1.9c0.7-0.1,1.3-0.3,1.9-0.5C25.4,13.7,24.9,14.3,24.2,14.8L24.2,14.8z" fill="#333333" />
                    </svg>
                </a>
            </li>

            <li><a href="#" title="Tumblr">
                    <svg width="36" height="36" viewBox="0 0 36 36">
                        <g></g>
                        <path d="M17.9,1.7A16.2,16.2,0,1,0,34.1,17.9,16.2,16.2,0,0,0,17.9,1.7Zm3.73,15.9H18.79v2.6a5,5,0,0,0,.06,1.23,1.06,1.06,0,0,0,.43.49,1.65,1.65,0,0,0,.86.23,2.34,2.34,0,0,0,1.49-.45v1.71a7,7,0,0,1-1.31.45,5.61,5.61,0,0,1-1.27.14,3.43,3.43,0,0,1-1.22-.2,2.91,2.91,0,0,1-1-.56,1.93,1.93,0,0,1-.59-.78,3.33,3.33,0,0,1-.16-1.19v-4H14.53V15.68a4,4,0,0,0,1.26-.63,2.94,2.94,0,0,0,.76-1A4.32,4.32,0,0,0,17,12.63h1.83v2.84h2.84V17.6Z" transform="translate(-1.7 -1.7)" fill="#333333" />
                    </svg>
                </a>
            </li>

            <li class="instagram"><a href="#" title="Visit my Instagram account" target="_blank">
                    <svg width="36" height="36" viewBox="0 0 36 36">
                        <g></g>
                        <path d="M17.903 1.699c-8.949 0-16.204 7.254-16.204 16.203s7.254 16.203 16.204 16.203c8.948 0 16.203-7.254 16.203-16.203 0-8.949-7.254-16.203-16.203-16.203zM24.957 22.747c0 1.218-0.992 2.206-2.207 2.206h-9.694c-1.221 0-2.207-0.989-2.207-2.206v-5.667h2.87c-0.059 0.267-0.081 0.535-0.081 0.819 0 2.357 1.901 4.26 4.264 4.26 2.352 0 4.263-1.903 4.263-4.26 0-0.284-0.027-0.553-0.080-0.819h2.872v5.667zM15.277 17.899c0-1.451 1.177-2.629 2.624-2.629 1.451 0 2.621 1.177 2.621 2.629 0 1.458-1.17 2.625-2.621 2.625-1.446 0-2.624-1.168-2.624-2.625zM24.957 15.437h-3.572c-0.769-1.089-2.049-1.803-3.484-1.803-1.438 0-2.707 0.713-3.487 1.803h-3.566v-2.385c0-1.22 0.986-2.2 2.207-2.2h9.693c1.216 0 2.207 0.981 2.207 2.2v2.385z" fill="#333333" />
                        <path d="M23.438 11.995h-1.185c-0.215 0-0.399 0.174-0.399 0.39v1.182c0 0.224 0.183 0.399 0.399 0.399h1.185c0.21 0 0.393-0.176 0.393-0.399v-1.182c0-0.216-0.181-0.39-0.393-0.39z" fill="#333333" />
                    </svg>
                </a>
            </li>
        </ul>
    </footer>

</body>

</html>
